
body {
   margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
     background-color: rgb(255, 255, 255);
     font: normal 15pt Arial;
     text-align: center;
      overflow-x: hidden;
}

body, html {
 
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
}


h1 {
  font-size: 35px;
  color: #000000;
}

#img{
  width: 100px;
  height: auto;
  border-radius: 10px;
}



ul{
  display: flex;
  list-style-type: none;
  gap: 450px;
  margin: 0;
  padding: 20px;
  align-items: center;
  width: 100%;
}
nav{
  width: 100%;
}


header{
  background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 100;
    width: 100%;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}
nav a {
  color: #fff;

 
  margin: 0 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #00bfff;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.conteudo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  background-color: #f8f9fa;
  
}


#container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 60px 20px;
  width: 100%;
  height: 100%;
  
}

.carro img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}


.carro h2 {
  font-size: 20px;
  color: #111;
  margin-top: 10px;
}

.carro p {
  font-size: 15px;
  color: #666;
  margin-bottom: 15px;
}


.reserva{
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.reverva:hover {
  background-color: #007bff;
}
.reserva {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.reserva:hover {
  background-color: #333;
}

.carros {
  background-color: #fff;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
}

#cadastro_carro{
 background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
   background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#cadastro_carro:hover {
  background-color: #333;
}


.deletar{
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.deletar:hover {
  background-color: #007bff;
}
.deletar {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.deletar:hover {
  background-color: #333;
}

.editar{
    position: absolute;
    top: 20px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.editar:hover {
    opacity: 0.7;
}

.imagemCarro{
  width: 100%;       
  height: 200px;       
  object-fit: cover;   
  border-radius: 10px; 
  margin-bottom: 10px; 
  display: block;
}

.file-label {
  display: inline-block;
  padding: 10px 18px;
  background-color: #4a90e2;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.file-label:hover {
  background-color: #3c7ac2;
}

.file-label:active {
  transform: scale(0.97);
}

.file-input {
  display: none; /* Esconde o input feio */
}