
body {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     background-color: rgb(255, 255, 255);
     font: normal 15pt Arial;
     text-align: center;
      overflow-x: hidden;
}

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  text-align: center;
  font-size: 24px;
}


h1 {
  font-size: 35px;
  color: #000000;
}

#img{
  width: 100px;
  height: auto;
  border-radius: 10px;
}



ul{
  display: flex;
  list-style-type: none;
  gap: 450px;
  margin: 0;
  padding: 20px;
  align-items: center;
  width: 100%;
}
nav{
  width: 100%;
}


header{
  background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 100;
    width: 100%;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}
nav a {
  color: #fff;

 
  margin: 0 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #00bfff;
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.cars_indicators {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 15px;
  position: relative;
  bottom: 30px; 
  z-index: 50;
}

.cars_indicators button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #100f0f;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cars_indicators button:hover {
  background-color: #000000;
  transform: scale(1.2);
}

.cars_indicators button.active {
  background-color: #000000;
  width: 16px;
  height: 16px;
  box-shadow: 0 0 10px #636363;
}
.carrossel_item {
  display: none;        
  position: relative;
  inset: 0;    
}
.carrossel_item.active {
  display: block;
  position: relative;
  z-index: 1;
}
.cars_indicators {
  position: absolute;
  bottom: 130px;                
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.carrossel_captions{
  position: absolute;
}
.conteiner{
  margin-top: 1030px;
}